body {
    text-align: center;
}

.question {
    font-size: 50px;
}

.option-button {
    margin: 10px;
    height: 80px;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.selected {
    background-color: #007bff;
    color: #fff;
}

.submit {
    height: 50px;
    width: 100px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.submit:disabled {
    opacity: .6;
    background-color: #939393af;
    color: #000;
    cursor: not-allowed;
}